@use 'sass:map';
@use '../../../styles/abstracts/functions' as *;
@use '../../../styles/abstracts/colors' as *;

.headerRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: space(md);
  margin-block-end: space(xl);
}

.title {
  color: map.get($text-colors, primary);
  font-size: type-size(xxl);
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: space(sm);
}

.modalContentWrapper {
  display: flex;
  flex-direction: column;
  margin-top: space(xl);
  gap: space(sm);
  align-items: center;

  .buttonGroup {
    width: 100%;
    justify-content: flex-end;
  }
}
