$text-colors: (
  primary: #294f30,
  inactive: #417c4f,
);

$bg-colors: (
  primary: #eef7f2,
  off-white: #f8fffc,
  white: #ffffff,
  black: #000000,
  dark: #012514,
);

$border-colors: (
  primary: #294f30,
  inactive: #417c4f,
  active: #f2c451,
  inactive-dark: #ae8111,
);
