$text-colors: (
  primary: var(--color-text-primary),
  inactive: var(--color-text-inactive),
  white: var(--color-text-white),
  black: var(--color-text-black),
  off-white: var(--color-text-off-white),
);

$bg-colors: (
  primary: var(--color-bg-primary),
  secondary: var(--color-bg-secondary),
  off-white: var(--color-bg-off-white),
  white: var(--color-bg-white),
  black: var(--color-bg-black),
  dark: var(--color-bg-dark),
);

$border-colors: (
  primary: var(--color-border-primary),
  inactive: var(--color-border-inactive),
  active: var(--color-border-active),
  inactive-dark: var(--color-border-inactive-dark),
  black: var(--color-border-black),
);
