@use './layout/header';
@use './base/typography';
@use './base/reset';
@use './abstracts/variables';
@use './abstracts/colors';
@use './abstracts/functions';
@use './abstracts/mixins';

html,
body {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
