@use 'sass:map';
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/functions' as *;

.card {
  background-color: map.get($bg-colors, white);
  color: map.get($text-colors, primary);
  font-size: type-size(md);
  font-family: inherit;
  padding-block: map.get($spacing-scale, md);
  padding-inline: map.get($spacing-scale, md);
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  border-color: map.get($border-colors, primary);
}

.cardGrid {
  justify-content: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 35rem), 37rem));
  gap: map.get($spacing-scale, md);
}
