@use 'sass:map';
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/functions' as *;
@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;


$label-color: map.get($text-colors, 'primary');
$border-color: map.get($border-colors, 'primary');
$field-bg-color: map.get($bg-colors, 'white');
$field-text-color: map.get($bg-colors, 'black'); //maybe add a black color in text-colors map and use that instead

.wrapper {
  display: flex;
  flex-direction: column;
  gap: space(xs);
  width: 100%;
  max-width: 100%;
  margin-bottom: space(md);
  max-width: 400px;
}
.full-width {
  width: 100%;
}

.label {
  font-size: type-size(sm);
  font-weight: bold;
  color: $label-color;
  font-family: var(--ff-body);
}

.field {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: space(sm) space(md);
  font-size: type-size(sm);
  font-weight: bold;
  font-family: var(--ff-body);
  color: $field-text-color;
  background-color: $field-bg-color;
  resize: none; //no dragging of text area
  &::placeholder {
    color: $border-color;
    opacity: 0.8;
  }
  &:focus {
    outline: none;
    border-color: $border-color;
  }
}
