@use 'sass:map';
@use '../styles/abstracts/_variables.scss' as *;
@use '../styles/abstracts/_colors.scss' as *;
@use '../styles/abstracts/_functions.scss' as *;

$grid-gap: space(xxl);
$grid-max-width: calc(6 * 9.375rem + 5 * #{$grid-gap});

.main {
  padding: space(xl);
  max-width: $content-max-width;
  margin-inline: auto;

  @media (max-width: 25rem) {
    padding: space(md);
  }
}

.title {
  color: map.get($text-colors, primary);
  font-size: type-size(xxxl);
  margin-bottom: space(xl);

  @media (max-width: 25rem) {
    font-size: type-size(xxl);
  }
}

.intro {
  color: map.get($text-colors, black);
  font-size: type-size(lg);
  margin-bottom: space(xxl);

  p {
    margin-block-end: space(sm);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(9.375rem, calc(50% - #{$grid-gap} / 2)), 1fr)
  ); //fits as many buttons per row as space allows and have at least 2 buttons always. (so max 6 min 2)
  gap: $grid-gap;
  max-width: $grid-max-width;
  margin-inline: auto;
  margin-block-end: space(xxl);
}

.modalHeading {
  color: map.get($text-colors, primary);
  font-size: type-size(xl);
  margin-block-end: space(sm);
}

.modalText {
  margin-block-end: space(sm);
}

.modalLink {
  display: inline-flex;
  align-items: center;
  gap: space(xs);
  color: map.get($text-colors, primary);
  font-weight: bold;
  text-decoration: underline;
}

.modalLinkIcon {
  width: space(md);
  height: space(md);
}
