@use 'sass:map';
@use '../styles/abstracts/_variables.scss' as *;
@use '../styles/abstracts/_colors.scss' as *;
@use '../styles/abstracts/_functions.scss' as *;

$grid-gap: space(xxl);

.main {
  padding: space(xl);
  max-width: $content-max-width;
  margin-inline: auto;

  @media (max-width: 25rem) {
    padding: space(md);
  }
}

.title {
  color: map.get($text-colors, primary);
  font-size: type-size(xxxl);
  margin-bottom: space(xl);

  @media (max-width: 25rem) {
    font-size: type-size(xxl);
  }
}

.intro {
  color: map.get($text-colors, black);
  font-size: type-size(lg);
  margin-bottom: space(xxl);

  p {
    margin: 0 0 space(sm) 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(9.375rem, calc(50% - #{$grid-gap} / 2)), 1fr)
  ); //fits as many buttons per row as space allows and have at least 2 buttons always. (so max 6 min 2)
  gap: $grid-gap;
  margin-bottom: space(xxl);
}
