@use 'sass:map';
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/functions' as *;

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: space(md);
  font-size: font-size(md);
  background: map.get($bg-colors, secondary);
  color: map.get($bg-colors, off-white);
}
