:root {
  --ff-heading: var(--font-fraunces);
  --ff-body: var(--font-nunito);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
}

p,
li,
a,
span,
label {
  font-family: var(--ff-body);
}
